.hp-navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
    align-items: center;
    align-content: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}



a {
    text-decoration: underline !important;
    font-family: DM Sans;
}

a:hover {
    cursor: pointer;
}

/* .conteudo:hover .carrousel {
    animation-play-state: paused;
} */

.carrousel {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    animation: 5s slide linear infinite;
    white-space: nowrap;
    scroll-padding: 0 24px;
    margin-top: 90px !important;
}

.carrousel::-webkit-scrollbar {
    display: none;
}

.card {
    scroll-snap-align: start;
    border-radius: 20px !important;
    min-height: 370px !important;
    width: 630px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:nth-child(odd) {
    background: black;
}

.card:nth-child(even) {
    background: blue;
}