.book-navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
    align-items: center;
    align-content: center;
    font-size: 24px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

book-link {
    color: black;
}

.book-link:hover {
    color: red(93, 92, 92) !important;
    cursor: pointer;
}

a {
    font-family: DM Sans;
    color: black !important;
}

a:hover {
    cursor: pointer;
    color: red !important;
}

.book-title {
    color: #000;
    font-family: Hammersmith One;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.book-author {
    color: #000;
    font-family: DM Serif Display;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
}

.book-genre {
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 24px;

    font-weight: 400;

    border-radius: 20px;
    background: #D9D9D9;
    width: 200px;
    padding: 5px;
    margin-top: 35px;
}

.desc-container {
    padding: 30px 100px 70px 100px !important;
    border-radius: 30px 30px 0px 0px;
    background: #D9D9D9;
    margin-top: -100px;
}

.book-desc {
    color: #000;

    font-family: DM Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    margin: 130px 0px 40px 0px;
    position: relative;
}

.book-desc-p {
    color: #000;

    font-family: DM Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

button:hover {
    color: #7fa196 !important;
}

.btn .btn-primary .btn-lg .add-to-wishlist:hover {
    color: #7fa196 !important;
}