{% extends 'homepage/index.html' %}
<!-- {% load static %} -->
<!-- 
{% block script %}
    <script src="{% static 'homepage/toppart.js' %}" defer></script>
{% endblock script %} -->

{% block toppart %}

<!-- <h1>toppart</h1> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- {% block meta %}
    {% endblock meta %} -->
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/toppart.css' %}">
    <link rel="stylesheet" type="image/png" href="{% static 'image/logo.png' %}">
    <script src="{% static 'homepage/toppart.js' %}" defer></script>
</head>

<body>
    <!-- <div>
        <nav class="navbar bg-body-tertiary">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="logo.png" alt="Bootstrap">
                </a>
                <div>
                    <form class="d-flex justify-content-center align-items-center" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
                <div class="d-flex justify-content-start">
                    <div class="nav-item">
                        <a class="nav-link" href="#" style="text-decoration: underline;">wishlist</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="#" style="text-decoration: underline;">logout</a>
                    </div>
                </div>
            </div>
          </nav>
    </div> -->

    <div class="hp-navbar sticky" style="background-color: #F5F5F5;">
        <!-- <span>logo</span> -->
        <img style="height: 50px;" src="{% static 'image/logo.png' %}" class="img-fluid" alt="...">

        <div class="w-100 text-center">
            <form id="search-form" autocomplete="off">
                {% csrf_token %}
                <input id="search-input" style="background-color: #D9D9D9; width: 500px; border-radius: 20px;" class="form-control me-2"
                    type="text" placeholder="Search" aria-label="Search">
            </form>
            <div id="results-box" class="results-card not-visible"></div>
        </div>
        <div>
            <a style="margin-right: 50px;" href="{% url 'wishlist_view' %} ">wishlist</a>
            <a style="margin-right: 20px;" href="{% url 'loginpage:login' %}">logout</a>
        </div>
    </div>

    <div>
        <div class="conteudo" style="display: flex;">
            <div class="carrousel" style="margin-left: 60px;">
                <div class="card">
                    <div class="d-flex" style="margin: 50px;">
                        <div class="d-flex">
                            <a href="/book/{{ data.id }}">
                                <img style="width: 173px; height: 223px; border-radius: 5px; box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
                            ;" src="http://images.amazon.com/images/P/006052779X.01.LZZZZZZZ.jpg">
                            </a>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h5 style="text-decoration: none  !important;" href="/book/{{ data.id }}"
                                class="hp-book-title">
                                Charlotte's Web</h5>
                            <h5 style="text-decoration: none  !important; margin-bottom: 15px;"
                                href="/book/{{ data.id }}" class="hp-book-title">
                                Book and Charm</h5>
                            <h5 class="hp-book-author" style="margin-bottom: 15px;">E. B. White</h5>
                            <h5>★★★★ </h5>
                        </div>
                    </div>
                </div>
                <article class="card">
                    <div class="d-flex" style="margin: 50px;">
                        <div class="d-flex">
                            <a href="/book/{{ data.id }}">
                                <img style="width: 173px; height: 223px; border-radius: 5px; box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
                            ;" src="http://images.amazon.com/images/P/1853260673.01.LZZZZZZZ.jpg">
                            </a>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h5 style="text-decoration: none  !important;" href="/book/{{ data.id }}"
                                class="hp-book-title">
                                Far from the Madding </h5>
                            <h5 style="text-decoration: none  !important;  margin-bottom: 15px"
                                href="/book/{{ data.id }}" class="hp-book-title">
                                Crowd</h5>
                            <h5 class="hp-book-author" style="margin-bottom: 15px;">Thomas Hardy</h5>
                            <h5>★★★★★ </h5>
                        </div>
                    </div>
                </article>
                <article class="card">
                    <h1>
                        <div class="d-flex" style="margin: 50px;">
                            <div class="d-flex">

                                <img style="width: 173px; height: 223px; border-radius: 5px; box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
                                ;" src="http://images.amazon.com/images/P/0749748028.01.LZZZZZZZ.jpg">

                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h5 style="text-decoration: none  !important;" class="hp-book-title">
                                    The Folk of the Faraway</h5>
                                <h5 style="text-decoration: none  !important; margin-bottom: 15px"
                                    class="hp-book-title">
                                    Tree</h5>
                                <h5 class="hp-book-author" style="margin-bottom: 15px;">Enid Blyton</h5>
                                <h5>★★★★★</h5>
                            </div>
                        </div>
                    </h1>
                </article>
                <article class="card">
                    <div class="d-flex" style="margin: 50px;">
                        <div class="d-flex">
                            <a href="/book/{{ data.id }}">
                                <img style="width: 173px; height: 223px; border-radius: 5px; box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
                                ;" src="http://images.amazon.com/images/P/0451205421.01.LZZZZZZZ.jpg">
                            </a>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h5 style="text-decoration: none  !important;" href="/book/{{ data.id }}"
                                class="hp-book-title">
                                The Door to</h5>
                            <h5 style="text-decoration: none  !important; margin-bottom: 15px"
                                href="/book/{{ data.id }}" class="hp-book-title">
                                December</h5>
                            <h5 class="hp-book-author" style="margin-bottom: 15px;">Dean R. Koontz</h5>
                            <h5>★★★★</h5>
                        </div>
                    </div>

                </article>
            </div>
            <div class="carrousel" style="margin-left: 1rem;">
                <article class="card">
                    <div class="d-flex" style="margin: 50px;">
                        <div class="d-flex">
                            <a href="/book/{{ data.id }}">
                                <img style="width: 173px; height: 223px; border-radius: 5px; box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
                            ;" src="http://images.amazon.com/images/P/038078243X.01.LZZZZZZZ.jpg">
                            </a>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h5 style="text-decoration: none  !important;" href="/book/{{ data.id }}"
                                class="hp-book-title">

                                Miss Zukas and the</h5>
                            <h5 style="text-decoration: none  !important; margin-bottom: 15px"
                                href="/book/{{ data.id }}" class="hp-book-title">
                                Raven's Dance</h5>
                            <h5 class="hp-book-author" style="margin-bottom: 15px;">Jo Dereske</h5>
                            <h5>★★★★</h5>
                        </div>
                    </div>
                </article>
                <article class="card">
                    <div class="d-flex" style="margin: 50px;">
                        <div class="d-flex">
                            <a href="/book/{{ data.id }}">
                                <img style="width: 173px; height: 223px; border-radius: 5px; box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
                            ;" src="http://images.amazon.com/images/P/0439221684.01.LZZZZZZZ.jpg">
                            </a>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h5 style="text-decoration: none  !important;;" href="/book/{{ data.id }}"
                                class="hp-book-title">

                                Cry of the Wolf</h5>
                            <h5 style="text-decoration: none  !important; margin-bottom: 15px"
                                href="/book/{{ data.id }}" class="hp-book-title">
                                (Avalon, 3)</h5>
                            <h5 class="hp-book-author" style="margin-bottom: 15px;">Rachel Roberts</h5>
                            <h5>★★★★</h5>
                        </div>
                    </div>
                </article>
                <article class="card">
                    <div class="d-flex" style="margin: 50px;">
                        <div class="d-flex">
                            <a href="/book/{{ data.id }}">
                                <img style="width: 173px; height: 223px; border-radius: 5px; box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
                            ;" src="http://images.amazon.com/images/P/0553582747.01.LZZZZZZZ.jpg">
                            </a>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h5 style="text-decoration: none  !important;" href="/book/{{ data.id }}"
                                class="hp-book-title">

                                From the Corner of</h5>
                            <h5 style="text-decoration: none  !important; margin-bottom: 15px"
                                href="/book/{{ data.id }}" class="hp-book-title">
                                His Eye</h5>
                            <h5 class="hp-book-author" style="margin-bottom: 15px;">Dean Koontz</h5>
                            <h5>★★★★</h5>
                        </div>
                    </div>
                </article>
                <article class="card">
                    <div class="d-flex" style="margin: 50px;">
                        <div class="d-flex">
                            <a href="/book/{{ data.id }}">
                                <img style="width: 173px; height: 223px; border-radius: 5px; box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
                            ;" src="http://images.amazon.com/images/P/0671525832.01.LZZZZZZZ.jpg">
                            </a>
                        </div>
                        <div class="flex-grow-1 ms-3">
                            <h5 style="text-decoration: none  !important;" href="/book/{{ data.id }}"
                                class="hp-book-title">

                                Someone to Watch</h5>
                            <h5 style="text-decoration: none  !important; margin-bottom: 15px"
                                href="/book/{{ data.id }}" class="hp-book-title">
                                Over Me</h5>
                            <h5 class="hp-book-author" style="margin-bottom: 15px;">Judith McNaught</h5>
                            <h5>★★★★</h5>
                        </div>
                    </div>
                </article>
            </div>

        </div>
    </div>

</body>
</html>


{% block bottompart %}

{% endblock bottompart %}
{% endblock toppart %}